.plan {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    margin-bottom: 2rem;
}

.travel-plan {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
}

.day {
    font-weight: bold;
    margin-right: 5px;
}

.time {
    color: #999999;
    margin-right: 10px;
}

.description {
    margin-top: 5px;

    margin-left: 20px;
}